@model PagedList.IPagedList<Rc.Models.Cost>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Costs", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Column_A)
        </th>
        <th>
            ID编号
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Column_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Column_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Column_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Column_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Column_G)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Column_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_G)
        </td>

        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.CostID }) |
            @Html.ActionLink("详细", "Details", new { id=item.CostID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.CostID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
