@model IEnumerable<Rc.Models.Cost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Column_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_G)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_J)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_K)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_L)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_M)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_N)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_O)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_Q)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_R)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_T)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_U)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_V)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_W)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_Y)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_Z)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_AA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_AB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_AC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_AD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_AE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_AF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Column_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_G)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_J)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_K)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_L)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_M)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_N)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_O)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_Q)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_T)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_U)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_V)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_W)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_Z)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_AA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_AB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_AC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_AD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_AE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_AF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CostID })
        </td>
    </tr>
}

</table>
