@model IEnumerable<Rc.Models.Revenue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Column_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_E)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_G)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_H)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column_I)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Column_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_E)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_G)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_H)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column_I)
        </td>
 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RevenueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RevenueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RevenueID })
        </td>
    </tr>
}

</table>
